<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/authstyle.css">
</head>
<body>
    <div class="container">

        <div class="left"></div>

        <div class="right">

            <div class="login-box">

                <div class="logo">
                    LOGO
                </div>

                <input type="email" id="email" placeholder="EMAIL">

                <input type="password" id="senha" placeholder="SENHA">

                <div id="login-message" class="message" role="alert"></div>

                <div class="actions">

                    <button id="login-button" type="button">ACESSAR</button>

                    <a href="#">ESQUECEU SENHA</a>

                </div>

                <div class="register">
                    <a href="pages/cadastro.html">NAO TEM CONTA?</a>
                </div>

            </div>

        </div>

    </div>

    <script type="module" src="scripts/login.js"></script>
</body>
</html>
